# Check where is network_mode: host and possible port conflicts
version: '2.1'
volumes:
  config: {}
  mosquitto:
  pihole_config: {}
  dnsmasq_config: {}
  tailscale: {}
  influxdb-data: {}
  influxdb-config: {}
  grafana: {}
  mqtt: {}
  tinkerforge2mqtt: {}
  duplicati: {}
  frigate-config: {}
  frigate-media: {}
  wyze-tokens: {}
  netdatalib: {}
  netdatacache: {}
  esphome: {}
  matter-server: {}
services:
    # https://hub.docker.com/r/homeassistant/home-assistant
  homeassistant:
    image: homeassistant/home-assistant:2025.11@sha256:c11dd7c74039223c43079d700aa559d6dc61e8e0b38a08d651f91d1bc550cff5
    # ports: Because of network_mode: host no ports are needed
    #   - 80:8123
    network_mode: host
    volumes:
      - config:/config
    labels:
      io.balena.features.dbus: "1"
    environment:
      DBUS_SYSTEM_BUS_ADDRESS: unix:path=/host/run/dbus/system_bus_socket
    privileged: true

  # https://hub.docker.com/_/eclipse-mosquitto
  mqtt:
    build: mqtt
    ports:
      - 1883:1883
    volumes:
      - mqtt:/mosquitto/data
    tmpfs:
      - /mosquitto/log

  # https://esphome.io/guides/getting_started_command_line.html#installation
  # esphome:
  #   image: ghcr.io/esphome/esphome:2025.10.4@sha256:d38437b9d7b27166cbb07ad58ccfe9da1d7bb2d9674d036e0529953991ff057e
  #   volumes:
  #     - esphome:/config
  #   privileged: true
  #   network_mode: host

  tinkerforge2mqtt:
    build: tinkerforge2mqtt
    volumes:
      - tinkerforge2mqtt:/app/data
    ports:
      - 4223:4223
    privileged: true
    devices:
      - '/dev:/dev'
    environment:
      TINKERFORGE_HOST: "192.168.2.145"

    restart: unless-stopped
    # udev: true               # optional but recommended for hotplug events
    # devices:
    #   - /dev/bus/usb:/dev/bus/usb


  # https://hub.docker.com/r/codercom/code-server
  # code-server:
  #   image: codercom/code-server:4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
  #   command:
  #     - --port=9000
  #     - --auth=none
  #     - --extensions-dir=/config/.vscode
  #     - --user-data-dir=/config/.vscode
  #     - /config
  #   working_dir: /config
  #   ports:
  #     - 9000:9000/tcp
  #   volumes:
  #     - config:/config
  #     - tinkerforge2mqtt:/config/tinkerforge2mqtt
  #     - esphome:/config/esphome
  #     - frigate-config:/config/frigate
  #   user: root

  # https://hub.docker.com/_/influxdb
  # https://www.home-assistant.io/integrations/influxdb/
  influxdb:
    image: influxdb:2.7.12-alpine@sha256:b4dbe25bb8f8be38f9cf5a12cbca453318a1ad3475954e9d37c38f6e5bc5006b
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: homeassistant
      DOCKER_INFLUXDB_INIT_PASSWORD: homeassistant # changeme via fleet/device env vars
      DOCKER_INFLUXDB_INIT_ORG: homeassistant
      DOCKER_INFLUXDB_INIT_BUCKET: homeassistant
      DOCKER_INFLUXDB_INIT_RETENTION: 90d
    volumes:
      - influxdb-data:/var/lib/influxdb2
      - influxdb-config:/etc/influxdb2
    ports:
      - 127.0.0.1:8086:8086

  # https://hub.docker.com/r/grafana/grafana
  grafana:
    image: grafana/grafana:12.2.0-16895479002@sha256:f318a84587ee2ba9b3d9e733003523cf300be245343f5b890debcdd48c397046
    volumes:
      - grafana:/var/lib/grafana
    ports:
      - 3000:3000/tcp

  # https://fleet.linuxserver.io/image?name=linuxserver/duplicati
  # https://docs.linuxserver.io/images/docker-duplicati/
  # https://hub.docker.com/r/linuxserver/duplicati
  duplicati:
    image: lscr.io/linuxserver/duplicati:2.1.0@sha256:bc6264d201eefcd2ee9b2dfdac2d4c6937fdbb885e7036b5a01878ff9da159e3
    environment:
      CLI_ARGS: --webservice-interface=any
      PUID: "1000"
      PGID: "1000"
      TZ: "Etc/UTC"
      SETTINGS_ENCRYPTION_KEY: "notasecretkey"
      DUPLICATI__WEBSERVICE_PASSWORD: "notasecretkey"
    ports:
      - "8200:8200"
    tmpfs:
      - /tmp
    volumes:
      - duplicati:/config
      - config:/volumes/config
      - influxdb-data:/volumes/influxdb-data
      - influxdb-config:/volumes/influxdb-config
      - grafana:/volumes/grafana
      - tinkerforge2mqtt:/volumes/tinkerforge2mqtt
      - tailscale:/volumes/tailscale
      - netdatalib:/volumes/netdatalib
      - esphome:/volumes/esphome
  
  # pihole:
  #   build: pihole
  #   cap_add:
  #     - SYS_TTY_CONFIG
  #     - NET_ADMIN
  #   volumes:
  #     - "pihole_config:/etc/pihole"
  #     - "dnsmasq_config:/etc/dnsmasq.d"
  #   dns:
  #     - "127.0.0.1"
  #     - "1.1.1.1"
  #   network_mode: host
  #   labels:
  #     io.balena.features.dbus: "1"
  #   devices:
  #     - /dev/tty0
  #     - /dev/tty1
  #   tmpfs:
  #     - /var/log/pihole
  #   ports:
  #     # DNS Ports
  #     - "53:53/tcp"
  #     - "53:53/udp"
  #     # Default HTTP Port
  #     - "80:80/tcp"
  #     # Default HTTPs Port. FTL will generate a self-signed certificate
  #     - "443:443/tcp"
  #     # Uncomment the below if using Pi-hole as your DHCP Server
  #     #- "67:67/udp"
  #   environment:
  #     DNSMASQ_LISTENING: all
  #     PIHOLE_DNS_: 1.1.1.1;1.0.0.1
  #     FONTFACE: Terminus
  #     FONTSIZE: 8x14
  #     WEBPASSWORD: balena
  #     FTLCONF_webserver_api_password: 'balena'
  #     VIRTUAL_HOST: balena-devices.com
  #     WEB_BIND_ADDR: 0.0.0.0
  #     TZ: 'Europe/Berlin'
  #   restart: unless-stopped

  # unbound:
  #   build: unbound
  #   cap_add:
  #    - NET_ADMIN
  #   ports:
  #     - "5053:5053/tcp"
  #     - "5053:5053/udp"

  # https://github.com/balenablocks/hostname
  # https://hub.balena.io/blocks/1918776/hostname-rpi
  hostname:
    image: bh.cr/g_tomas_migone1/hostname-rpi/0.2.1
    restart: no
    labels:
      io.balena.features.supervisor-api: 1
    environment:
      SET_HOSTNAME: peepee

  # https://hub.docker.com/r/tailscale/tailscale
  # https://github.com/tailscale/tailscale/blob/main/cmd/containerboot/main.go
  # https://tailscale.com/kb/1282/docker
  # https://tailscale.com/kb/1278/tailscaled
  # https://tailscale.com/kb/1241/tailscale-up
  # https://tailscale.com/kb/1242/tailscale-serve
  # https://tailscale.com/kb/1311/tailscale-funnel
  # tailscale:
  #   image: tailscale/tailscale:v1.90.6@sha256:8eb8b450a85856807e8a216c4697333e15f8701cb6d344bed851bf6aa6a9605c
  #   environment:
  #     TS_STATE_DIR: /var/lib/tailscale
  #     TS_SOCKET: /var/run/tailscale/tailscaled.sock
  #     TS_USERSPACE: false
  #     TS_AUTH_ONCE: false
  #     TS_HOSTNAME: homeassistant
  #     TS_AUTHKEY: ${TS_AUTHKEY}
  #     TS_EXTRA_ARGS: --advertise-tags=tag:container --accept-routes=false --advertise-exit-node=false
  #   network_mode: host
  #   cap_add:
  #     - NET_ADMIN
  #     - NET_RAW
  #     - SYS_MODULE
  #   labels:
  #     io.balena.features.kernel-modules: 1
  #   tmpfs:
  #     - /tmp
  #     - /run
  #   volumes:
  #     - tailscale:/var/lib/tailscale
  #   entrypoint:
  #     - /bin/sh
  #     - -c
  #   command:
  #     - |
  #       modprobe tun || true
  #       modprobe wireguard || true
  #       mkdir -p /dev/net
  #       [ ! -c /dev/net/tun ] && mknod /dev/net/tun c 10 200
  #       /usr/local/bin/containerboot

  # netdata:
  #   image: netdata/netdata:v2.7.3@sha256:c6b5012b08e6a67d513c75858fe4db88a30eaa7b383656e6ef2e09b9cf0a9333
  #   privileged: true
  #   network_mode: host
  #   cap_add:
  #     - SYS_PTRACE
  #   security_opt:
  #     - apparmor:unconfined
  #   labels:
  #     io.balena.features.balena-socket: 1
  #     io.balena.features.procfs: 1
  #     io.balena.features.supervisor-api: 1
  #     io.balena.features.sysfs: 1
  #   volumes:
  #     - netdatalib:/var/lib/netdata
  #     - netdatacache:/var/cache/netdata
  #   environment:
  #     DOCKER_HOST: "/var/run/balena.sock"
  #     PGID: "991" # ls -nd /var/run/balena.sock | awk '{print $4}'